@charset "utf-8";

.flex-container{
    display: flex;
}
.flex-item{
    flex: 1;
}
.title{
    flex: 2;
}


.wrapper{
    display: flex; 
}
.side-left { order: 1; } 
.main    { order: 2; }
.side-right { order: 3; }

.main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.aside{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}