@charset "utf-8";

body{
    margin: 0;
    padding: 0;
}
.dark{
    background-color: #333333;
}
.white{
    color: white;
}
.w3-bar-item:hover{
    background-color: #111111;
}
.go{
    background-color:rgb(150, 0, 150);
}
.go:hover{
    background-color: rgb(180, 80, 180);
}
a:hover{
    cursor: pointer;
}