@charset "utf-8";

body{
    margin: 0;
    padding: 0;
}
nav a, footer a{
    text-decoration: none;
    cursor: pointer;
}
.dark{
    background-color: #333333;
}
.white{
    color: white;
}
.w3-bar-item:hover{
    background-color: #111111;
}
.go{
    background-color:rgb(150, 0, 150);
}
.go:hover{
    background-color: rgb(180, 80, 180);
}
a:hover{
    cursor: pointer;
}
.form{
    width: 20%;
    color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px; /*ändra jao, fett scuff*/
}
.title{
    width: 100%;
}
.text{
    width: 100%;
}

.profilePic{
    border: 3px solid rgb(150, 0, 150);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.errortxt{
    color: red;
    font-size: 0.8em;   
    margin: 0;
    margin-bottom: -20px; /*SCUFF*/
    padding: 0;
}

.post{
    width: 30%;
    background-color: #333333;
    color: white;
    text-align: center;
    margin: 25px auto;
    border-bottom: 10px solid rgb(150, 0, 150);
}
.post:hover{
    border-bottom: 10px solid #555555;
    background-color: rgb(180, 80, 180);
}
.post>a{
    text-decoration: none;
    padding: 1px;
}

.pagebtns{
    margin-top: 50px;
}
.pagebtn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pagebtn:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #f1f1f1;
color: black;
}

.next {
background-color: rgb(150, 0, 150);
color: white;
}

.round {
border-radius: 50%;
}