@charset "utf-8";

body{
    margin: 0;
    padding: 0;
}
nav a, footer a{
    text-decoration: none;
    cursor: pointer;
}
.dark{
    background-color: #333333;
}
.white{
    color: white;
}
.w3-bar-item:hover{
    background-color: #111111;
}
.go{
    background-color: rgb(150, 0, 190);
}
.go:hover{
    /*background-color: rgb(180, 80, 180);*/
    background-color:rgb(180, 0, 180);
}
a:hover{
    cursor: pointer;
}
.form{
    width: 20%;
    color: white;
    margin: auto;
    margin-top: 20px;
}
.title{
    width: 100%;
}
.text{
    width: 100%;
}
.profileContainer{
    border: 0px solid black;
    background: linear-gradient(to left, rgb(180, 0, 180), rgb(150, 0, 190));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}
.profilePic{
    border: 0px solid rgb(150, 0, 150);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 4px;
}
.errortxt{
    color: red;
    font-size: 0.8em;   
    margin: 0;
    margin-bottom: -20px; /*SCUFF*/
    padding: 0;
}

.boxOuterContainer{
    background: linear-gradient(to left, rgb(180, 0, 180), rgb(150, 0, 190));
    padding: 4px;
}
.boxContainer{
    background: #333333;
    color: white;
    padding: 2rem;
}
.noDecoration{
    text-decoration: none;
}
.post{
    max-width: 500px;
    max-height: 250px;
    margin: 10px auto;
}

.post-container{
    background: linear-gradient(to left, rgb(180, 0, 180), rgb(150, 0, 190));
    padding: 4px;
    margin: 15px;
    margin-left: 15%;
    width: 50%;
}
.post-view{
    background: #333333;
    color: white;
    padding: 2rem;
}
.post-view>p{
    text-align: left;
    margin-bottom: -15px;
}
.post-text{
    max-width: inherit;
    word-wrap: break-word;
}
.post-post{
    height: 100%;
}
.profile{
    margin-left: 0;
    width: 100%;
}
.flex-container{
    display: flex;
    flex-direction: row;
}

.comment{
    max-width: 300px;
    margin: 30px auto;
    background: #333333;
    color: white;
    font-size: 1.2em;
    padding: 15px;
}
.comment>p{
    max-width: 270px;
    overflow: hidden;
}
.comment>p>span{
    font-size: 15px;
}

.pagebtns{
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagebtn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pagebtn:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #f1f1f1;
color: black;
}

.next {
background-color: rgb(180, 0, 180);
color: white;
}

.round {
border-radius: 50%;
}
.filler{
    margin-top: 50px;
}

.loadMore{
    max-width: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    background-color: rgb(180, 0, 180);
    color: white;
    padding: 1px;
}